
.vscode/settings.json
.vscode/.censitive
Proxy/forwarding.secret
Proxy/lang
Proxy/logs
Proxy/plugins/bStats
Subserver/Server1/.console_history
Subserver/Server1/banned-ips.json
Subserver/Server1/banned-players.json
Subserver/Server1/cache
Subserver/Server1/eula.txt
Subserver/Server1/libraries
*.gz
*.jar
*.log
*.logs
Subserver/Server1/plugins/bStats
Subserver/Server1/plugins/spark
Subserver/Server1/usercache.json
Subserver/Server1/version_history.json
Subserver/Server1/world/advancements
Subserver/Server1/world/entities
Subserver/Server1/world/level.dat_old
Subserver/Server1/world/level.dat
Subserver/Server1/world/data
Subserver/Server1/world/poi
Subserver/Server1/world/region
Subserver/Server1/world_nether/DIM-1/data
Subserver/Server1/world/uid.dat
Subserver/Server1/world/session.lock
Subserver/Server1/world/stats
Subserver/Server1/world/playerdata
Subserver/Server1/world_nether/DIM-1/entities
Subserver/Server1/world_nether/level.dat
Subserver/Server1/world_nether/level.dat_old
Subserver/Server1/world_nether/DIM-1/region
Subserver/Server1/world_nether/session.lock
Subserver/Server1/world_nether/uid.dat
Subserver/Server1/world_the_end/DIM1/data
Subserver/Server1/world_the_end/DIM1/entities
Subserver/Server1/world_the_end/DIM1/region
Subserver/Server1/world_the_end/level.dat
Subserver/Server1/world_the_end/level.dat_old
Subserver/Server1/world_the_end/session.lock
Subserver/Server1/world_the_end/uid.dat
Subserver/Server1/config/paper-global.yml
Subserver/Server1/logs
**/*.log
*.log
Proxy/plugins/luckperms
Subserver/Server1/plugins/LuckPerms
Subserver/Server1/plugins/ProtocolLib
Subserver/Server1/plugins/titleManager/playerinfo.sqlite
Subserver/Server1/plugins/ReputationPlus/config.yml
Subserver/Server1/plugins/squaremap/locale
Subserver/Server1/plugins/squaremap/web
Subserver/Server1/plugins/squaremap/data
*.back
Subserver/Server1/plugins/GrimAC/punishments.yml
Proxy/plugins/floodgate/key.pem
Proxy/plugins/Geyser-Velocity/locales/en_us.hash
*.pem
Subserver/Server1/plugins/DeathChest/saved-chests.yml
Subserver/Server1/plugins/WorldEdit/.archive-unpack
Subserver/Server1/plugins/WorldGuard/cache/profiles.sqlite
*.sqlite
.gitignore
Subserver/Server1/plugins/CoreProtect/database.db
Subserver/Server1/plugins/CoreProtect/.license
Subserver/Server1/plugins/CoreProtect/config.yml
Subserver/Server1/world_nether/DIM-1/poi
.gitignore
Subserver/Server1/world_the_end/DIM1/poi
Subserver/Server1/world_the_end/DIM1/poi
Subserver/Server1/plugins/DiscordSRV/config.yml
Subserver/Server1/plugins/DiscordSRV/linkedaccounts.json
Subserver/Creative/eula.txt
Subserver/Creative/config/FabricProxy-Lite.toml
